<html><head>
</head>
<body>
<div style="height:220px; overflow:auto;">
{% if author_list %}
    <ul>
    {% for author in author_list %}
	
        <li><a href="#" class="npAuthor" id="{{ author.id }}">{{ author.first_name }} {{author.last_name}} </a></li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No authors found.</p>
{% endif %}
</div>
<a id="addAuthor" href="#">Add an author</a>
<!-- <a id="addAuthor" href="#" style="position:fixed">Add an author</a> -->
<script type="text/javascript">
$(".npAuthor").click(function(e){
    var npauthorid = this.id;
    $("#{{authorid}}").load(
        '/config/setnpauthor/',
        {
            "npauthorid":npauthorid,
            "authorid":{{ authorid }},
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        function() {
            disablePopup();
    });
});

$("#addAuthor").click(function(){
    $("#popup_id").load('/config/newnpauthor?authid={{ authorid }}');
});
</script>

</body></html>