<form action="/config/newnpauthor/" method="post">
<p><label for="id_first_name">First name:</label><br/> 
<input id="id_first_name" type="text" name="first_name" maxlength="100" /></p>
<p><label for="id_last_name">Last name:</label><br/> 
<input id="id_last_name" type="text" name="last_name" maxlength="100" /></p>
<p><label for="id_email">Email:</label> <br/><input type="text" name="email" id="id_email" /></p>
<input id="formSubmit" type="button" value="Submit" />
<script>
$("#formSubmit").click(function(){
    $("#status").load(
        '/config/newnpauthor/',
        {
        	first_name:$("#id_first_name").val(),
        	last_name:$("#id_last_name").val(),
        	email:$("#id_email").val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        function() {
            $("#popup_id").load(
       			 '/config/npauthor/',
        		{
                    "authorid":{{ authorid }},
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
        	);
        });
});
</script>
</form>
