<form action="/config/newnpauthor/" method="post">
{{ form.as_p }}
<input id="formSubmit" type="button" value="Submit" />
<script>
$("#formSubmit").click(function(){
//    alert("hi");
//    disablePopup();
    $("#status").load(
        '/config/newnpauthor',
        {
        	first_name:$("#id_first_name").val(),
        	last_name:$("#id_last_name").val(),
        	email:$("#id_email").val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        function() {
            $("#popupSelect").load(
       			 'npauthor',
        		{
                    "authorid":{{ authorid }},
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
        	);
        });
});
</script>
</form>
