<html><head>
</head>
<body>
{% if tag_list %}
    <ul>
    {% for tag in tag_list %}
	
        <li><a href="#" class="npTag" id="{{ tag.id }}">{{ tag.name }}</a>  </li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available are available.</p>
{% endif %}

<a id="addTag" href="#">Add a category</a>
<script type="text/javascript">
$(".npTag").click(function(e){
    var nptagid = this.id;
    $("#{{tagid}}").load(
        '/config/setnptag',
        {
            "nptagid":nptagid,
            "tagid":{{ tagid }},
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        function() {

            disablePopup();
    });
});
$("#addTag").click(function(){
    $("#popupSelect").load('/config/newnptag?tagid={{ tagid }}');
});
</script>

</body></html>