{% extends "natourpress/base.html" %}
{%block title%}Page Mapper{% endblock %}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
var popupStatus = 0;
function loadPopup(){
    //loads popup only if it is disabled
    if(popupStatus==0){
        $("#backgroundPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundPopup").fadeIn("slow");
        $("#popup_id").fadeIn("slow");
        popupStatus = 1;
    }
}

function centerPopup(e){
    //request data for centering
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var popupHeight = $("#popup_id").height();
    var popupWidth = $("#popup_id").width();
    //centering
    $("#popup_id").css({
        "position": "absolute",
        "top": (windowHeight-popupHeight)/2,
        "left": (windowWidth-popupWidth)/2
    });
    //only need force for IE6
    
    $("#backgroundPopup").css({
        "height": windowHeight
    });
    
}

function disablePopup(){
    //disables popup only if it is enabled
    if(popupStatus==1){
        $("#backgroundPopup").fadeOut("slow");
        $("#popup_id").fadeOut("slow");
        popupStatus = 0;
    }
}


$(document).ready(function() {

$("#backgroundPopup").click(function(){
        disablePopup();
    });

$(document).keypress(function(e){
        if(e.keyCode==27 && popupStatus==1){
            disablePopup();
        }

    });

});

$(document).on("click", "a.npCategory", function(e){
    $( "#popup_id" ).attr('class', 'selectCatPopUp');
    var objid = $(this).attr('objid');
    var mapping = $(this).attr('mapping');
//    alert(authorid);
    $("#popup_id").load(
        '/config/selectcategory/',
        {
            'objid':objid,
            'mapping': mapping,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        function() {
            centerPopup(e);
            loadPopup();
    });
});

$(document).on("click", "a.newEntity", function(e){
    $( "#popup_id" ).attr('class', 'entityPopUp');
    var entity = $(this).attr('entity');
    var action = '/config/add'+entity+'/';
//    alert(authorid);
    $("#popup_id").load(
        action,
        function() {
            centerPopup(e);
            loadPopup();
    });
});

$(document).on("click", "a.editEntity", function(e){
    $( "#popup_id" ).attr('class', 'entityPopUp');
    var entity = $(this).attr('entity');
    var entityid = $(this).attr('entityid');
    var action = '/config/'+entity+'_detail/'+entityid+'/';
//    alert(authorid);
    $("#popup_id").load(
        action,
        function() {
            centerPopup(e);
            loadPopup();
    });
});

</script> 
{%endblock%}
{%block headline%}Page Mapper{%endblock%}
{%block main%}
<br/>
{% if subplaceList %}
    <h1>SubPlaces</h1>
	<br/>
    <table>
    {% for subplace in subplaceList %}
    <tr class={% cycle 'row1' 'row2' %}>    
    <td><a class="editEntity" entity="subplace" entityid="{{ subplace.id }}" href="javascript:void(null);">{{ subplace.name }}</a></td>
    {% if subplace.tags.all %}
    <td>
    {{ subplace.tags.all|join:", " }} <a class="npCategory" mapping="subplace" objid="{{ subplace.id }}" href="javascript:void(null);">(change)</a>
    </td>
    {% else %}
    <td><a class="npCategory" href="javascript:void(null);" mapping="subplace" objid="{{ subplace.id }}">select</a></td>
    {% endif %}
    </tr>
    
    {% endfor%}
    </table>
    
{% else %}
    <p>No subplaces are available.</p>
{% endif %}
<br/><br/>
    <p class="paginator"><a class="newEntity" entity="subplace" href="javascript:void(null);">Add New Subplace</a></p>
<br/><br/>

{% if topicList %}
    <h1>Topics</h1>
    <br/>
    <table>
    {% for topic in topicList %}
    <tr class={% cycle 'row1' 'row2' %}>    
    <td><a class="editEntity" entity="topic" entityid="{{ topic.id }}" href="javascript:void(null);">{{ topic.name }}</a></td>
    {% if topic.tags.all %}
    <td>
    {{ topic.tags.all|join:", " }} <a class="npCategory" mapping="topic" objid="{{ topic.id }}" href="javascript:void(null);">(change)</a>
    </td>
    {% else %}
    <td><a class="npCategory" href="javascript:void(null);" mapping="topic" objid="{{ topic.id }}">select</a></td>
    {% endif %}
    </tr>
    
    {% endfor%}
    </table>
    
{% else %}
    <p>No topics are available.</p>
{% endif %}
<br/><br/>
    <p class="paginator"><a class="newEntity" entity="topic" href="javascript:void(null);" >Add New Topic</a></p>
<br/><br/>

{% if cellList %}
    <h1>Layout Cells</h1>
    <br/>
    <table>
    {% for cell in cellList %}
    <tr class={% cycle 'row1' 'row2' %}>    
    <td><a class="editEntity" entity="cell" entityid="{{ cell.id }}" href="javascript:void(null);" >{{ cell.name }}</a></td>
    {% if cell.tags.all %}
    <td>
    {{ cell.tags.all|join:", " }} <a class="npCategory" mapping="cell" objid="{{ cell.id }}" href="javascript:void(null);">(change)</a>
    </td>
    {% else %}
    <td><a class="npCategory" href="javascript:void(null);" mapping="cell" objid="{{ cell.id }}">select</a></td>
    {% endif %}
    </tr>
    
    {% endfor%}
    </table>
    
{% else %}
    <p>No cells are available.</p>
{% endif %}
<br/><br/>
    <p class="paginator"><a class="newEntity" entity="cell" href="javascript:void(null);">Add New Cell</a></p>
<div id="backgroundPopup"></div>
<div  class="selectCatPopUp" id="popup_id">xyzabcd</div>

{% endblock %}