{% extends "natourpress/base.html" %}
{%block title%}Posts List{% endblock %}
{%block extrahead%}
<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="text/javascript" src="/static/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.effects.core.js"></script>
<!-- Utility Dependencies -->
<script type="text/javascript">
var popupStatus = 0;
function loadPopup(){
    //loads popup only if it is disabled
    if(popupStatus==0){
        $("#backgroundPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundPopup").fadeIn("slow");
        $("#popup_id").fadeIn("slow");
        popupStatus = 1;
    }
}

function centerPopup(e){
    //request data for centering
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var popupHeight = $("#popup_id").height();
    var popupWidth = $("#popup_id").width();
    //centering
  //  alert(popupHeight);
    $("#popup_id").css({
        "position": "absolute",
        "top": (windowHeight-popupHeight)/2,
        "left": (windowWidth-popupWidth)/2
    });
    //only need force for IE6
    
    $("#backgroundPopup").css({
        "height": windowHeight
    });
}

function disablePopup(){
    //disables popup only if it is enabled
    if(popupStatus==1){
        $("#backgroundPopup").fadeOut("200");
        $("#popup_id").fadeOut("200");
        popupStatus = 0;
    }
}


$(document).ready(function() {

$("#backgroundPopup").click(function(){
        disablePopup();
    });

$(document).keypress(function(e){
        if(e.keyCode==27 && popupStatus==1){
            disablePopup();
        }

    });

});

$(document).on("click", "a.openPost", function(e){
 //   $( "#popup_id" ).switchClass( "authorPopUp","postPopUp", 100);
    $( "#popup_id" ).attr('class', 'postPopUp');
    var postid = $(this).attr('postid');
    var action = '/config/post_detail/'+postid;
    setTimeout(function() {
    $("#popup_id").load(
        action,
        function() {
            centerPopup(e);
            loadPopup();
    });
    }, 100);
});

$(document).on("click", "a.openKarma", function(e){
    $( "#popup_id" ).attr('class', 'karmaPopUp');
    var postid = $(this).attr('postid');
    var action = '/config/open_karma/'+postid;
    $("#popup_id").load(
        action,
        function() {
            centerPopup(e);
            loadPopup();
    });
});


$(document).on("click", "a.selectNP", function(e){
    disablePopup();
    var authid = $(this).attr("authid");
    //alert("hi");
   // $( "#popup_id" ).switchClass( "postPopUp", "authorPopUp",100);
    $( "#popup_id" ).attr('class', 'authorPopUp');
    setTimeout(function() {
       // alert($("#popup_id").height());
        
        $( "#popup_id" ).load(
            "/config/npauthor",
            {
                "authorid":authid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            function(){
                centerPopup(e);
                loadPopup();    
        });  
    }, 600);
});

</script>
{%endblock%}
{%block headline%}Posts{%endblock%}
{%block main%}
{% if post_dict %}
    <ul>
    {% for feed,postList in post_dict.items %}
	<h2>{{ feed.name }}</h2>
    <table>
        {% for post in postList %}
    <tr class={% cycle 'row1' 'row2' %}>    
    <!-- <td><a href="/config/post_detail/{{ post.id }}" class="openPost123123" postid="{{ post.id }}">{{ post }}</a></td> -->
    <td><a href="#" class="openPost" postid="{{ post.id }}">{{ post }}</a></td>
    <td><a href="#" class="openKarma" postid="{{ post.id }}">{{post.karma}}</td></tr>
    
    {% endfor%}
    </table>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<input type="hidden" id="status" />
<div id="backgroundPopup"></div>
<div  class="postPopUp" id="popup_id">xyzabcd</div>
{%endblock%}