{% extends "natourpress/base.html" %}
{%block title%}Karma{% endblock %}
{%block extrahead%}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".editlink").click(function() {
        var varid = $(this).attr('varid');
        var x = $("#"+varid).text();
        x = x.replace(/\s+/,"");
        x = x.replace(/edit.*/,"");
        $("#"+varid).html("<input size=\"15\" name=\""+varid+"\" type=\"text\" value=\""+x+"\"/>");
    });
});
</script>
{%endblock%}
{%block headline%}Karma{%endblock%}
{%block main%}
<form action="/config/setkarma/" method="POST">{% csrf_token %}
<table border="1" cellpadding="5" width="100%" ><tr><td width="30%">
{% if feed_list %}
    <h2>Blogs</h2>
    <table padding="4">
    
    {% for feed in feed_list %}
    <tr height="35px"><td>{{ feed.name }}</td><td id="feed{{ feed.id }}">{{ feed.karma }} 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="editlink" href="#" varid="feed{{ feed.id }}">edit</a></td></tr>
    
    {% endfor%}
    </table>

{% else %}
    <p>No feeds are available.</p>
{% endif %}
</td>
<td width="30%">

{% if author_list %}
    <table>
    <h2>Authors</h2>
    {% for author in author_list %}
    <tr height="35px"><td>{{ author.first_name }} {{ author.last_name}} </td>
    <td id="author{{author.id}}">{{author.karma}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="editlink" href="#" varid="author{{author.id}}"/>edit</a></td></tr>
    
    {% endfor%}
    </table>
{% else %}
    <p>No authors are available.</p>
{% endif %}
</td>
<td width="30%">
{% if tag_list %}
    <h2>Categories</h2>
    <table>
    {% for tag in tag_list %}
    <tr height="35px"><td>{{ tag.name }} </td><td id="tag{{ tag.id }}">{{tag.karma}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="editlink" href="#" varid="tag{{ tag.id }}">edit</a></td></tr>
    
    {% endfor%}
    </table>
{% else %}
    <p>No categories are available.</p>
{% endif %}
</td>
</tr></table>
<input type="submit" value="save"/>
</form>
{%endblock%}