<html>
<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {



	 $("[href]").click(function(event){
		 alert("As you can see, the link no longer took you to jquery.com");
		 event.preventDefault();
	       });

	$( "#create-user" )
		.button()
		.click(function() {
			$( "#dialog-form" ).dialog( "open" );
		});
});
</script>
</head>

<body>
<div id="headerSection">
<a href="#">NatourPress</a>
<a href="#">config</a>
<a href="#">blogs</a>
</div>

<div id ="HeadingSection">
<h1>Blogs</h1>
<h3>harvested blogs list<h3>
</div>


<div id="blogsPage">
---------------------------------------------------------------------------------<br>

abcd
</div>
</body>
</html> 














<!--<form action="/contact/" method="post"> 
{% if latest_feed_list %}
<ul>
    {% for feed in latest_feed_list %}
    <li>{{ feed.name }} <input type="text" name="textfield"></li>
    {% endfor %} 
</ul>
{% else %}

No feeds are available.
{% endif %}
{{form.as_p}} 

</form> -->