{% extends "natourpress/popup.html" %}
{%block title%}New Topic{% endblock %}
{%block headline%}Add New Topic{%endblock%}
{%block main%}
<form action="/config/addtopic/" method="post">{% csrf_token %}
<table>
<tr><th><label for="id_name">Name:</label></th><td><input id="id_name" type="text" name="name" maxlength="50" /></td></tr>
<tr><th><label for="id_slug">Slug:</label></th><td><input id="id_slug" type="text" name="slug" maxlength="250" /></td></tr>
</table>
<input type="submit" value="Submit" />
</form>
{%endblock%}