    		<div class="Container z-index10">
              <div class="MidTabArea">
              	<div class="InnerRightPannel">
                	<div class="RightBox"> 
                            <div class="Heading">Latest / Sort news Madrid</div>
                            <div class="Content">
                            	<ul>
                                	<li>
                                    	<p>
                                    	<a href="#">Lorem ipsum dolor sit amet,</a> Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="Link"><a href="#">more</a>  >></div>
                                    </li>
                                	<li>
                                    	<p>
                                    	<a href="#">Lorem ipsum dolor sit amet,</a> Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                       <div class="Link"><a href="#">more</a>  >></div>
                                        
                                    </li>
                                    <li>
                                    	<p>
                                    	<a href="#">Lorem ipsum dolor sit amet,</a> Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="Link"><a href="#">more</a>  >></div>
                                        
                                    </li>
                                    <li>
                                    	<p>
                                    	<a href="#">Lorem ipsum dolor sit amet,</a> Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="Link"><a href="#">more</a>  >></div>
                                        
                                    </li>
                                    <li class="MarginB15">
                                    	<p>
                                    	<a href="#">Lorem ipsum dolor sit amet,</a> Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="Link"><a href="#">more</a>  >></div>
                                        
                                    </li>
                                </ul>
                            	
                                
                            </div>
                        </div>
                </div>
                <div class="InnerCenterPannel">
                	<div class="Section">
                        <div class="Box"> 
                            <div class="Heading">First article about sport in Madrid</div>
                            <div class="Content">
                            	<img src="/static/feedsaggregator/images/pic1.jpg" width="95" height="115" class="ImgFrame FloatRight MarginL10" /><p>Lorem ipsum dolor sit amet, consec- tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit . </p>
                            	<div class="Link MarginBT15"><a href="#">more</a>  >></div>
                            </div>
                            <div class="Clear"><img src="/static/feedsaggregator/images/spacer.gif" width="1" height="1" /></div>
                        </div>
                        <div class="Box"> 
                            <div class="Heading">Second article about sport in Madrid</div>
                            <div class="Content"><img src="/static/feedsaggregator/images/pic2.jpg" width="95" height="115" class="ImgFrame FloatLeft MarginR10" /><div class="TxtSection"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit. <div class="Link MarginBT15"><a href="#">more</a>  >></div></p></div></div>
                            <div class="Clear"><img src="/static/feedsaggregator/images/spacer.gif" width="1" height="1" /></div>
                        </div>
                        <div class="Box"> 
                            <div class="Heading">Third article about sport in Madrid</div>
                            <div class="Content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit .  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat. 
                            </p>
                            <div class="Link MarginBT15"><a href="#">more</a>  >></div>
                            </div>
                            <div class="Clear"><img src="/static/feedsaggregator/images/spacer.gif" width="1" height="1" /></div>
                        </div>
                    </div>
                    
                    <div class="Section">
                        <div class="Box"> 
                            <div class="Heading">Photo Reportage in Madrid</div>
                            <div class="Content">
                            	<img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame" />
                                <img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame" />
                                <img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame" />
                                <img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame" />
                                <img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame" />
                                <img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame" />
                                <div class="FloatRight"><div class="Link MarginB10"><a href="#">more</a>  >></div></div>
                            </div>
                            <div class="Clear"><img src="/static/feedsaggregator/images/spacer.gif" width="1" height="1" /></div>
                        </div>
                        <div class="Box"> 
                            <div class="Heading">First article about sport in Madrid</div>
                            <div class="Content">
                            	<img src="/static/feedsaggregator/images/pic1_s.jpg" width="95" height="92" class="ImgFrame FloatRight MarginL10" />
                            	<p><a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisicing elit, sed do aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br />
<br />
                                	<a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisicing elit, aliquip ex ea commodo consequat. Duis irure dolor in reprehenderit .                     <br />
<br />
                                	<a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisicing elit, nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit .                     <br />
<br />
                                	<a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisicing elit, nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit .
                                </p>
                               <div class="FloatRight"><div class="Link MarginBT15"><a href="#">more</a>  >></div></div>
                            </div>
                            <div class="Clear"><img src="/static/feedsaggregator/images/spacer.gif" width="1" height="1" /></div>
                        </div>
                    </div>
                    
                    
                    
                </div>
              </div>

