                <div class="FloatRight MarginT10">
                	<div class="CommonBlock MarginT25">
                         <div id="NavBar" class="z-index25">
                                <div class="FloatLeft">	
                                    <ul>
                                    <li class="First">
                                     <a href="#">Anywhere </a>
                                    </li>
                                    <li><a href="#" class="active">Berlin</a></li>
                                    <li><a href="#">New York</a></li>
                                    <li><a href="#">London</a>
                                        <div class="Clear"><img src="/static/feedsaggregator/images/spacer.gif" width="1" height="1" /></div>
                                      <div class="DropDown z-index25">
                                        <ul>
                                                <li class="Heading">Menu number eleven</li>
                                                <li><a href="#">Submenu one</a></li>
                                                <li><a href="#">Submenu two</a></li>
                                                <li><a href="#">Submenu three</a></li>
                                                <li><a href="#">Submenu four</a></li>
                                          </ul>
                                          <div class="NavActive"><a href="#">London</a></div>
                                        </div>
                                    </li>
                                    <li><a href="#">Madrid</a></li>
                                    <li><a href="#">Rome</a></li>
                                    <li class="Last"><a href="#">Paris</a></li>
                                   
                                </ul>
                                </div>
                         </div>
                    </div>
                </div>

